name: Checkout Example

on: [push, workflow_dispatch]

jobs:
  checkout-job:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4
      
      - name: Verify directory contents
        run: ls -alhR
